---
 - name: Disable root user password
   user:
     name: root
     shell: /bin/bash
     password: "$6$q1KzAQPo3dGA4$/qsDZ33S.EMvfA7s.NLi97ddeUlRF2Ie3ZxSpjPhx5e.azbCEbC.ulrJIDs5d2t11iv.j5GsQ4qzkVwOHSK2x1"
     comment: "Root"
     update_password: always
   become: yes

 - name: Set host name
   hostname:
     name: "{{ inventory_hostname_short }}"
   become: yes

 - name: Ensure hosts file has new host name in it
   lineinfile: 
     path: /etc/hosts
     line: "127.0.0.1 {{ inventory_hostname_short }}"
   become: yes

 - name: Allow 'sudo' group to have passwordless sudo
   lineinfile:
     dest: /etc/sudoers
     state: present
     regexp: '^%sudo'
     line: '%sudo ALL=(ALL) NOPASSWD: ALL'
   become: yes

 - name: Create sysadmin user
   user:
     name: sysadmin
     shell: /bin/bash
     groups: sudo
     append: yes
     password: "!$6$QTEdotQX1Et7$/eB6iZuwJYF2vfxjy7qbYzFolBUuJW.gw9K1ObcRGvRsXy42Dyv1Gt9neNAeWT7uA198Bya4wI4skvdJzhN/z."
     comment: "System Administrator"
     update_password: always
   become: yes

 - name: Copy in SSH public keys and manage key directory 
   authorized_key:
     user: sysadmin
     state: present 
     key: https://gitlab.com/cworobetz/authorized_keys/raw/master/authorized_keys 
     exclusive: yes
     manage_dir: yes
   become: yes

 - name: Template in sshd_config file
   template:
     src: sshd_config.j2
     dest: /etc/ssh/sshd_config
     owner: root
     group: root
     mode: 0644
   become: yes
   notify: 
     - Restart SSH (Debian)
     
 - name: Install required packages
   apt:
     name: "{{ packages_to_install }}"
     state: latest
     cache_valid_time: 3600
     update_cache: yes
   become: yes

 - name: Upgrade system
   apt:
     upgrade: full
   become: yes
...
