---
 - name: Install required packages
   apt:
     name: "{{ packages_to_install }}"
     state: latest
   become: yes

 - name: Copy in nginx configuration
   template:
     src: default.j2
     dest: "/etc/nginx/sites-available/default"
     owner: root
     group: root
     mode: 0644
   register: result
   become: yes
   notify: Restart nginx
